.vscode

#pyenv
.python-version

#mac
.DS_Store

#pycache
__pycache__/

#Results
/results
/results-final
datasets

#Large selection CSVs
/results_v2/compare-selection.csv
/results_v3/compare-selection.csv

#Slurm
/sbatches

.venv/
venv

/aux