.vscode

#pyenv
.python-version

#mac
.DS_Store

#pycache
__pycache__/

#Results
/results
/results-final
datasets

#Large CSVs
/results_v2/compare-selection.csv
/results_v2/compare-scoring-complete.csv
/results_v3/compare-selection.csv
/results_v3/compare-scoring-complete.csv

#Slurm
/sbatches

.venv/
venv

/aux